streamlit
beautifulsoup4
pandas
requests
OpenAI
spacy>=3.2.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
numpy>=1.21.0
thinc>=8.1.0
transformers
plotly
groq
scikit-learn
