streamlit
beautifulsoup4
pandas
requests
OpenAI
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
numpy
thinc
transformers
plotly
groq
scikit-learn
